<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://funtionscoringproactivoclientenuevo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8a1a8d7e-77f7-45be-9aac-5a9d0f2dca2d/resourceGroups/RSG_FinaktivaGW/providers/Microsoft.Web/sites/FuntionScoringProactivoClienteNuevo</ResourceId>
    <UserName>$FuntionScoringProactivoClienteNuevo</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://funtionscoringproactivoclientenuevo.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>